In [1]:
x = 0
y = 5

In [6]:
if x < y:
    print('yes')
    
if y < x:
    print('no')

yes
yes

In [7]:
if x: # x = type data int dan bernilai 0 maka false
    print('yes')
    
if y: # y = type data int dan tidak bernilai 0 maka true
    print('no')

no

In [9]:
if 'aul' in 'grault':
    print('yes')
    
if 'quux' in ['foo', 'bar', 'quux']:
    print('no')

yes

In [10]:
keyword = 'hello'
words = ['freedom stories', 'time', 'stories']

if keyword in words:
    print('found!')

In [17]:
weather = 'nice'

if weather == 'windy':
    print('Mow')
    print('weed')
    print('Take')
else:
    print('watch')
    print('drink')

watch
drink

In [14]:
if 'foo' in ['foo', 'baz', 'qux']:
    print('a')
    
    if 10 > 20:
        print('b')
        
    if 10 < 20:
        print('c')
    
    print('d')
    
print('x')

a
c
d
x

In [23]:
x = 10
print(x, 'is x')
print('-' * 20)

if x < 50:
    print('x is small')
else:
    print('x is large')

10 is x
--------------------
x is small

In [36]:
hargaBuku = 20000
hargaMajalah = 5000
uang = 15000

if uang > hargaBuku:
    print('beli buku')
    uang = uang - hargaBuku
elif uang > hargaMajalah:
    print('beli majalah')
    uang = uang - hargaMajalah
else:
    print('uang tidak cukup')
print('sisa uang', uang)

beli majalah
sisa uang 10000

In [38]:
name = 'Hacktiv8'

if name == 'Fred':
    print('Hello', name)
elif name == 'Hacktiv8':
    print('Hello', name)
else:
    print('nothing to say hello')

Hello Hacktiv8

In [41]:
# short circuit evaluation

if 'a' in 'bar':
    print('a')
elif 'b' in 'bar':
    print('b')
elif 'c' in 'bar':
    print('c')

a

In [46]:
raining = True

if not raining:
    print('beach')
else:
    print('library')

library

In [44]:
raining = False
print("let's go to", 'beach' if not raining else 'library')

let's go to beach

In [49]:
age = 12

# true if expression else false
s = 'teen' if age < 21 else 'adult'
print(s)

teen

In [50]:
'yes' if ('qux' in ['foo', 'bar', 'baz']) else 'no'

'no'

In [51]:
students = ['aa', 'bb', 'cc', 'dd']
len(students)

4

i += 1 || i = i + 1
i -= 1 || i = i - 1

In [55]:
i = 0
while i < len(students):
    print(students[i])
    i += 1

aa
bb
cc
dd

In [57]:
n = 5
while n > 0:
    n -= 1
    print(n)

4
3
2
1
0

In [59]:
n = 5
while n > 0:
    n -= 1
    if n == 2:
        break # terminated statement
    print(n)
print('loop ended!')

4
3
loop ended!

In [62]:
n = 5
while n > 0:
    n -= 1
    if n == 2:
        continue # continue to next iterations statement
    print(n)
print('loop ended!')

4
3
1
0
loop ended!

In [63]:
n = 5
while n > 0:
    n -= 1
    
    if n == 2:
        break # break statement
    
    print(n)
    
    if n == 3:
        continue
    
    print('-' * 5)

print('loop ended!')

4
-----
3
loop ended!

In [65]:
n = 5
while n > 0:
    n -= 1
    print(n)
else:
    print('loop done')

4
3
2
1
0
loop done

In [67]:
a = ['foo', 'bar']

while len(a):
    print(a.pop(0))       # ['foo'], sisa ['bar']
    b = ['baz', 'qux']
    
    while len(b):
        print('>', b.pop(0)) # ['baz'], sisa ['qux']

foo
> baz
> qux
bar
> baz
> qux

In [70]:
i = 0
while i < 4:
    print('i ', i)
    
    j = 1
    while j < 5:
        print('j ', j)
        if j == 2:
            print('will break loop using j counter')
            break
        j += 1
    
    if i == 1:
        print('will break loop using i counter')
        break
    i+=1

i  0
j  1
j  2
will break loop using j counter
i  1
j  1
j  2
will break loop using j counter
will break loop using i counter

In [71]:
# for i = 0 to 9
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [73]:
# for i = 1 to 9
for i in range(1, 10):
    print(i)

1
2
3
4
5
6
7
8
9

In [76]:
# 1, 3, 5, 7, 9, 11, 13
# range(start, end, step) default start = 0 & step = 1
for i in range(1, 14, 2):
    print(i)

1
3
5
7
9
11
13

In [78]:
d = {'foo': 1, 'bar': 2, 'baz': 3}
for k in d.keys():
    print(k)

foo
bar
baz

In [79]:
d = {'foo': 1, 'bar': 2, 'baz': 3}
for k in d.values():
    print(k)

1
2
3

In [81]:
d = {'foo': 1, 'bar': 2, 'baz': 3}
for k, v in d.items():
    print(k, v)

# for k in d.items():
#     print(k)

foo 1
bar 2
baz 3

In [84]:
for n in (0, 1, 2, 3, 4, 3, 2):
    print(n)

0
1
2
3
4
3
2

In [85]:
x = 5

for i in range(x):
    print(i)

0
1
2
3
4

In [90]:
for i in ['foo', 'bar', 'baz', 'qux']:
    if 'u' in i:
        break
    print(i)

foo
bar
baz

In [91]:
for i in ['foo', 'bar', 'baz', 'qux']:
    if 'b' in i:
        continue
    print(i)

foo
qux

In [92]:
for i in ['foo', 'bar', 'baz', 'qux']:
    print(i)
else:
    print('done') # will execute

foo
bar
baz
qux
done

In [94]:
for i in ['foo', 'bar', 'baz', 'qux']:
    if 'z' in i:
        break
    print(i)
else:
    print('done') # will not execute

foo
bar

In [96]:
temp = input('ketikan temperatur yang ingin dikonversi:')
# print(temp)
degree = int(temp[:-1])
print(degree, type(degree))

i_convertion = temp[-1]
print(i_convertion)

result = 0
if i_convertion == "C":
    result = int(round(9 * degree) / 5 + 32)
elif i_convertion == "F":
    result = int(round(4 - 32) / 5 + 32)

print(result)

ketikan temperatur yang ingin dikonversi:45F
45 <class 'int'>
F
26

In [97]:
while True:
    msg = input("ketikkan karakter = ").lower()
    print(msg)
    if msg == "stop":
        break

ketikkan karakter =Stop
stop